.location__like {
    background-image: url(../../../images/Like.svg);
    width: 21.76px;
    height: 19.3px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    transition: opacity .3s ease;
}

.location__like:hover {
    opacity: 0.3;
    cursor: pointer;
}