.location__delete { 
    background-image: url(../../../images/Trash.svg); 
    background-repeat: no-repeat; 
    position: absolute; 
    align-self: flex-end; 
    padding-right: 30px; 
    margin-top: 20px; 
    height: 20px; 
    cursor: pointer; 
    transition-property: opacity; 
    transition-duration: 1s; 
    border: none; 
    background-color: transparent; 
    outline: none; 
} 
 
.location__delete:hover { 
    opacity: 0.6; 
    cursor: pointer; 
} 