.popup__image { 
    box-sizing: border-box; 
    display: flex; 
    max-width: 75vw; 
    max-height: 75vh; 
    background-size: cover;
}

.popup__image:hover {
    transition: opacity .3s linear
}